<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hr">

	<!-- 전체 직원 목록 조회 -->
	<select id="list" resultType="mvc.model.vo.EmployeeVO">
		SELECT * FROM EMPLOYEES ORDER BY EMPLOYEE_ID
	</select>
	
	<!-- 사번으로 검색 -->
	<select id="empno" parameterType="int" resultType="employeeVO">
		SELECT * 
		FROM EMPLOYEES 
		WHERE EMPLOYEE_ID = #{empno} 	
	</select>
	
	<!-- 직종으로 검색 -->
	<select id="jobList" parameterType="string" resultType="employeeVO">
		SELECT * 
		FROM EMPLOYEES 
		WHERE JOB_ID = UPPER(#{jobid})
		ORDER BY EMPLOYEE_ID	
	</select>
	
	<!-- 부서 직원 목록 조회 -->
	<select id="deptList" parameterType="int" resultType="employeeVO">
		SELECT * 
		FROM EMPLOYEES 
		WHERE DEPARTMENT_ID = #{deptno}
		ORDER BY EMPLOYEE_ID
	</select>
	
	<!-- 성명(성,이름)으로 검색 -->
	<select id="fullnameList" parameterType="string" resultType="employeeVO">
		SELECT * 
		FROM EMPLOYEES 
		WHERE FIRST_NAME = INITCAP(#{fullname})
		   OR LAST_NAME = INITCAP(#{fullname})
		ORDER BY EMPLOYEE_ID  	
	</select>
	
	<select id="search" parameterType="map" resultType="employeeVO">
		SELECT * 
		FROM EMPLOYEES 
		<choose>
			<when test="idx == 0"><!-- 숫자형태로 자동 형변환 -->
				WHERE EMPLOYEE_ID = #{keyword}
			</when>
			<when test="idx eq 1"><!-- 부호(==) 대신 영문(eq)사용(권장) -->
				WHERE FIRST_NAME = INITCAP(#{keyword})
   				   OR LAST_NAME = INITCAP(#{keyword})
			</when>
			<when test='idx.equals("2")'><!-- String equals() 사용 -->
				WHERE JOB_ID = UPPER(#{keyword})
			</when>
			<when test='idx eq "3" '><!-- 문자열 쌍따옴표(권장)  -->
				WHERE DEPARTMENT_ID = #{keyword}
			</when>
			<otherwise>
				WHERE 1 = 2
			</otherwise>
		</choose>
	</select>
	
	
	
	

</mapper>














