<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shop">

	<!-- select 태그 속성 id
	id : 사용할 명칭(필수항목), 현재 매퍼에서 유일한 이름 사용
	resultType : 조회 결과값 저장하기 위한 데이터 타입(1개 데이터 기준)
	parameterType : 전달 받은 파라미터 데이터 타입 지정(선택적)
	-->
	
	
	<!-- 전체 목록 -->
	<select id="list" 
			parameterType="string"
			resultType="com.mystudy.shop.ProductVO">
			
		SELECT NUM, CATEGORY, PNUM, NAME, COMPANY
				, PRICE, SALEPRICE, IMAGE_SMALL, IMAGE_LARGE, CONTENT
				, REGDATE
		FROM PRODUCT
		WHERE CATEGORY =  #{category}
	</select>
	
</mapper>














