@charset "UTF-8";

#wrap {
	margin: 0 auto;
}

hr {
	border: 1px solid navy;
}

#header, #nav {
	width: 900pxx;
	margin: 10px auto;
	text-align: center;
}

#header {
	font-size: 2em;
}

#nav {
	font-size: 1.3em;
}

#nav a {
	text-decoration: none;
}

#nav a:hover {
	text-decoration: none;
	color: red;
}
